main img {
  width: 100%;
}

footer,
h1 {
  text-align: center;
  border: 2px solid;
  margin: -10px;
}

footer {
  margin-top: 10px;
}

.a1,
.a2 {
  border-style: solid;
  margin: 10px;
}

h2 {
  margin-left: 10px;
}

@media (min-width: 800px) {
  .grid2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
